mobile-android/.gradle/
mobile-android/app/build/
mobile-android/local.properties
desktop-windows/**/bin/
desktop-windows/**/obj/
desktop-windows/.vs/
desktop-windows/out/
desktop-windows/publish/
desktop-windows/vcpkg_installed/
desktop-windows/src/P2PAudio.Windows.App/runtimes/**/*.dll
search_env/
nul
*.iml
.DS_Store
